

page-login .fixed-content{
  background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
}
.item-md{
  background-color: inherit !important;
}
ion-icon {
  color: #d6f2ff;
}
ion-header {
  color: red;
}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md{
  color: white;
}
.list-md[inset] .item:last-child{
  border-bottom-width: 1px;
}
page-login ion-img{
  background: none;
  filter: invert(10%);
}
.tostadaconmanteca{
  .toast-wrapper{
    border-radius: 20px;
    width:90%;
    background-color: rgba(51, 51, 51, 0.9);
    margin-bottom: 1em;
  }
}
