<!-- <ion-menu [content]="mycontent" id="main-menu">
<ion-content>
  <ion-list>
    <ion-navbar hideBackButton>
      <ion-title><ion-icon name="ionic"></ion-icon>MyGoalTracker</ion-title>
      <ion-label>{{email}}</ion-label>
    </ion-navbar>
    <ion-item (click)="abrirPagina()"><ion-icon name="home"></ion-icon>Inicio</ion-item>
    <ion-item [navPush]="DiarioPage"><ion-icon name="calendar"></ion-icon>Diario</ion-item>
    <ion-item [navPush]="InformesPage"><ion-icon name="stats"></ion-icon>Informes</ion-item>
    <ion-item [navPush]="PesoPage"><ion-icon name="disc"></ion-icon>Peso</ion-item>
  </ion-list>
</ion-content>
</ion-menu> -->
<ion-header>
  <ion-navbar>
  <ion-buttons left>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
    <ion-title>Inicio</ion-title>
</ion-navbar>
</ion-header>
<ion-content>
  <!-- <ion-nav #mycontent [root]="LandingPage"></ion-nav> -->
  <ion-content class="card-background-page">
    <ion-card>
      <img src="assets/imgs/peso.jpg"/>
      <div *ngIf="peso == null || peso == undefined">
        <ion-spinner></ion-spinner>
      </div>
      <div *ngIf="peso != null" class="card-content">
        <div *ngIf="peso != false">
          <div class="card-title">Peso actual</div>
          <div class="card-subtitle">{{ peso?.peso }} kg</div>
       </div>
       <div *ngIf="peso == false">
         <div class="card-title" (click)="presentIntroducirPeso()">Introduce tu peso</div>
       </div>
      </div>
    </ion-card>
    <ion-card (click)="abrirPagina()">
      <img src="assets/imgs/calorias.jpg"/>
      <div *ngIf="caloriasDiarias == null || caloriasDiarias == undefined">
        <ion-spinner></ion-spinner>
      </div>
      <div *ngIf="caloriasDiarias != null" class="card-content">
        <div *ngIf="caloriasDiarias != false">
          <div class="card-title">Calorias consumidas</div>
          <div class="card-subtitle">{{ caloriasDiarias }} kcal</div>
        </div>
        <div *ngIf="caloriasDiarias == false">
          <div class="card-title">Introducir calorias</div>
        </div>
      </div>
    </ion-card>
  </ion-content>
</ion-content>
