page-diario ion-icon{
  color: #4ba6c0;
  margin-right: 0.4em;
}
page-diario ion-title{
  padding-top: 0.4em;
}
ion-title ion-icon{
  color: white;
}
ion-navbar ion-label{
  color:white;
  padding-left:12px;
}
ion-navbar ion-title ion-icon{
  color: #d6f2ff;
}
ion-navbar ion-icon[name="menu"]{
  margin-right: 1em;
}
