page-diario ion-icon{
  color: #4ba6c0;
  margin-right: 0.4em;
}
page-diario ion-title{
  padding-top: 0.4em;
}
ion-title ion-icon{
  color: white;
}
ion-navbar ion-label{
  color:white;
  padding-left:12px;
}
ion-navbar ion-title ion-icon{
  color: #d6f2ff;
}
page-diario ion-navbar ion-icon[name="menu"]{
  margin-right: 0 !important;
  color: #d6f2ff;
}
page-diario ion-card-header ion-icon{
  color: #d6f2ff;
  font-size: 1.5em;
}
.toolbar-title-md{
  margin-bottom: 0.2em;
}
page-diario ion-card-header span{
  color: #d6f2ff;
  font-size: 1.2em;
}
page-diario ion-card-header span:nth-last-child(odd){
  float: right;
  color: #d6f2ff;
  margin-top:3px;
}
page-diario ion-card-header{
  font-weight: 500;
  background-color: #4ba6c0;
}
page-diario ion-card-header .card-header-md{
  padding:14px,
}
page-diario ion-card-content{
  background-color: #d6f2ff;
}
page-diario .card-header-md + .card-content-md, .card-md .item + .card-content-md{
    padding-top: 4%;
}

ion-card-content.contenido, ion-card-content div{
    overflow:inherit;
}
span.nombre{
    float:left;
}
span.cantidad{
    float:right;
    margin-bottom: 10px;
}
ion-icon.eliminar{
  float: right;
  margin-left: 12px;
  margin-top: 3px;
}
div.contenido{

  -webkit-animation-name: entrada;
-webkit-animation-duration: 1000ms;
-webkit-animation-timing-function: ease;
-moz-animation-name: entrada;
-moz-animation-duration: 1000ms;
-moz-animation-timing-function: ease;
-ms-animation-name: entrada;
-ms-animation-duration: 1000ms;
-ms-animation-timing-function: ease;

animation-name: entrada;
animation-duration: 1000ms;;
animation-timing-function: ease;
}

ion-spinner{
  left: 20%;
  top: 40%;
  width: 120px;
  height: 120px;
}

@keyframes entrada {
    from {
        opacity: 0;
    }
    to {

        opacity: 1;
    }
}

.tostadaconmanteca{
  .toast-wrapper{
    border-radius: 20px;
    width:90%;
    background-color: rgba(51, 51, 51, 0.9);
    margin-bottom: 1em;
  }
}
