page-diario ion-icon{
  color: #4ba6c0;
  margin-right: 0.4em;
}
page-diario ion-title{
  padding-top: 0.4em;
}
ion-title ion-icon{
  color: white;
}
ion-navbar ion-label{
  color:white;
  padding-left:12px;
}
ion-navbar ion-title ion-icon{
  color: #d6f2ff;
}
page-diario ion-navbar ion-icon[name="menu"]{
  margin-right: 0 !important;
  color: #d6f2ff;
}
page-diario ion-card-header ion-icon{
  color: #d6f2ff;
  font-size: 1.5em;
}
.toolbar-title-md{
  margin-bottom: 0.2em;
}
page-diario ion-card-header span{
  color: #d6f2ff;
  font-size: 1.2em;
}
page-diario ion-card-header span:nth-last-child(odd){
  float: right;
  color: #d6f2ff;
  margin-top:3px;
}
page-diario ion-card-header{
  font-weight: 500;
  background-color: #4ba6c0;
}
page-diario ion-card-header .card-header-md{
  padding:14px,
}
page-diario ion-card-content{
  background-color: #d6f2ff;
}
page-diario .card-header-md + .card-content-md, .card-md .item + .card-content-md{
    padding-top: 4%;
}
