<!-- <ion-menu [content]="mycontent" id="main-menu">
<ion-content>
  <ion-list>
    <ion-navbar hideBackButton>
      <ion-title><ion-icon name="ionic"></ion-icon>MyGoalTracker</ion-title>
      <ion-label>{{email}}</ion-label>
    </ion-navbar>
    <ion-item [navPush]="LandingPage"><ion-icon name="home"></ion-icon>Inicio</ion-item>
    <ion-item [navPush]="DiarioPage"><ion-icon name="calendar"></ion-icon>Diario</ion-item>
    <ion-item [navPush]="InformesPage"><ion-icon name="stats"></ion-icon>Informes</ion-item>
    <ion-item [navPush]="PesoPage"><ion-icon name="disc"></ion-icon>Peso</ion-item>
  </ion-list>
</ion-content>
</ion-menu> -->
<ion-header>
  <ion-navbar>
  <ion-buttons left>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
    <ion-title>Diario</ion-title>
</ion-navbar>
</ion-header>
<ion-content *ngIf="loaded == false">
<ion-spinner></ion-spinner>
</ion-content>
<ion-content>
  <div *ngIf="loaded == true">
    <div class="contenido" *ngIf="caloriasDiarias != false">
      <ion-card class="tarjetas">
        <ion-card-header>
          <ion-icon name="add-circle" (click)="goBuscar('desayuno')"></ion-icon><span>Desayuno</span>
          <span>{{ caloriasDesayuno }} kcal</span>
        </ion-card-header>
        <ion-card-content class="contenido" *ngIf="caloriasDesayuno > 0">
          <div *ngFor="let alimento of alimentosDesayuno">
            <span class="nombre" >{{ alimento.nombre }}</span>
            <ion-icon (click)="eliminarAlimento(alimento.registroID, alimento.nombre)" class="eliminar" name="trash"></ion-icon>
            <span class="cantidad">{{ alimento.cantidad }} {{ alimento.unidad }}</span>
          </div>
        </ion-card-content>
        <ion-card-content *ngIf="caloriasDesayuno == 0">
          <span>Aún no se han añadido alimentos.</span>
        </ion-card-content>
      </ion-card>
      <ion-card class="tarjetas">
        <ion-card-header>
          <ion-icon name="add-circle" (click)="goBuscar('almuerzo')"></ion-icon><span>Almuerzo</span>
          <span>{{ caloriasAlmuerzo }} kcal</span>
        </ion-card-header>
        <ion-card-content class="contenido" *ngIf="caloriasAlmuerzo > 0">
          <div  *ngFor="let alimento of alimentosAlmuerzo">
            <span class="nombre" >{{ alimento.nombre }}</span>
            <ion-icon (click)="eliminarAlimento(alimento.registroID, alimento.nombre)" class="eliminar" name="trash"></ion-icon>
            <span class="cantidad">{{ alimento.cantidad }} {{ alimento.unidad }}</span>
          </div>
        </ion-card-content>
        <ion-card-content *ngIf="caloriasAlmuerzo == 0">
          <span>Aún no se han añadido alimentos.</span>
        </ion-card-content>
      </ion-card>
      <ion-card class="tarjetas">
        <ion-card-header>
          <ion-icon name="add-circle" (click)="goBuscar('cena')"></ion-icon><span>Cena</span>
          <span>{{ caloriasCena }} kcal</span>
        </ion-card-header>
        <ion-card-content class="contenido" *ngIf="caloriasCena > 0">
          <div *ngFor="let alimento of alimentosCena">
            <span class="nombre" >{{ alimento.nombre }}</span>
            <ion-icon (click)="eliminarAlimento(alimento.registroID, alimento.nombre)" class="eliminar" name="trash"></ion-icon>
            <span class="cantidad">{{ alimento.cantidad }} {{ alimento.unidad }}</span>
          </div>
        </ion-card-content>
        <ion-card-content *ngIf="caloriasCena == 0">
          <span>Aún no se han añadido alimentos.</span>
        </ion-card-content>
      </ion-card>
      <ion-card class="tarjetas">
        <ion-card-header>
          <ion-icon name="add-circle" (click)="goBuscar('pasabocas')"></ion-icon><span>Pasa Bocas/Otros</span>
          <span>{{ caloriasPasabocas }} kcal</span>
        </ion-card-header>
        <ion-card-content class="contenido" *ngIf="caloriasPasabocas > 0">
          <div *ngFor="let alimento of alimentosPasabocas">
            <span class="nombre" >{{ alimento.nombre }}</span>
            <ion-icon (click)="eliminarAlimento(alimento.registroID, alimento.nombre)" class="eliminar" name="trash"></ion-icon>
            <span class="cantidad">{{ alimento.cantidad }} {{ alimento.unidad }}</span>
          </div>
        </ion-card-content>
        <ion-card-content *ngIf="caloriasPasabocas == 0">
          <span>Aún no se han añadido alimentos.</span>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="contenido" *ngIf="caloriasDiarias == false">
      <ion-card class="tarjetas">
        <ion-card-header>
          <ion-icon name="add-circle" (click)="goBuscar('desayuno')"></ion-icon><span>Desayuno</span>
          <span>0</span>
        </ion-card-header>
        <ion-card-content>
          <span>Aún no se han añadido alimentos.</span>
        </ion-card-content>
      </ion-card>
      <ion-card class="tarjetas">
        <ion-card-header>
          <ion-icon name="add-circle" (click)="goBuscar('almuerzo')"></ion-icon><span>Almuerzo</span>
          <span>0</span>
        </ion-card-header>
        <ion-card-content>
          <span>Aún no se han añadido alimentos.</span>
        </ion-card-content>
      </ion-card>
      <ion-card class="tarjetas">
        <ion-card-header>
          <ion-icon name="add-circle" (click)="goBuscar('cena')"></ion-icon><span>Cena</span>
          <span>0</span>
        </ion-card-header>
        <ion-card-content>
          <span>Aún no se han añadido alimentos.</span>
        </ion-card-content>
      </ion-card>
      <ion-card class="tarjetas">
        <ion-card-header>
          <ion-icon name="add-circle" (click)="goBuscar('pasabocas')"></ion-icon><span>Pasa Bocas/Otros</span>
          <span>0</span>
        </ion-card-header>
        <ion-card-content>
          <span>Aún no se han añadido alimentos.</span>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>
