::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
.toolbar-background {
  background-color:#4BA6C0;
}
.toolbar-title.toolbar-title-md{
  color: #d6f2ff;
}
ion-title ion-icon{
  margin-right: 10px;
}
ion-list ion-icon{
  margin-right: 10px;
  color: #4ba6c0;
}
ion-item.menu ion-label{
  font-size: 1.2em;
}
.titleMenu .toolbar-title.toolbar-title-md{
  font-size: 1.6em;
}
