page-welcome .logo{
  margin-left: 2px;
  margin-bottom: 50px;
  -webkit-animation-name: spin;
-webkit-animation-duration: 1000ms;
-webkit-animation-timing-function: ease;
-moz-animation-name: spin;
-moz-animation-duration: 1000ms;
-moz-animation-timing-function: ease;
-ms-animation-name: spin;
-ms-animation-duration: 1000ms;
-ms-animation-timing-function: ease;

animation-name: spin;
animation-duration: 1000ms;;
animation-timing-function: ease;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); opacity: 0}
    to { -ms-transform: rotate(360deg); opacity: 1}
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); opacity: 0}
    to { -moz-transform: rotate(360deg); opacity: 1}
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); opacity: 0}
    to { -webkit-transform: rotate(360deg); opacity: 1}
}
@keyframes spin {
    from {
        transform:rotate(0deg);
        opacity: 0;
    }
    to {
        transform:rotate(360deg);
        opacity: 1;
    }
}

page-welcome .button-md{
  background-color: #4aa6c0;
}
